torch==2.6.0
spacy
scikit-learn
PyMuPDF
pandas
trafilatura
frontend
transformers
rank-bm25
nltk
datasets
openai
sentence-transformers
ipywidgets
faiss-cpu
dirtyjson
aenum
protobuf
langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.12
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
langchain-chroma==0.1.4
ollama
huggingface_hub
numpy
scipy
tqdm
matplotlib
ipython
anthropic
