torch==2.6.0
spacy
scikit-learn
PyMuPDF
pandas
trafilatura
frontend
transformers
rank-bm25
nltk
datasets
openai
sentence-transformers
spacy
ipywidgets
faiss-gpu
dirtyjson
aenum
protobuf
langchain==0.2.7
langchain-community==0.2.7
langchain-core==0.2.12
langchain-huggingface
ollama